/* fonts  */
@font-face {
  font-family: lalezar;
  src: url("../fonts/Lalezar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: vazirmatn;
  src: url("../fonts/Vazirmatn-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: shubbak;
  src: url("../fonts/Shubbak-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}
/*
@font-face {
  font-family: shubbakbold;
  src: url("../fonts/Shubbak-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: g aseman;
  src: url("../fonts/g aseman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: casa;
  src: url("../fonts/Casablanca.Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: link;
  src: url("../fonts/A.Afsaneh.Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: tanha;
  src: url("../fonts/Tanha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: nabigha;
  src: url("../fonts/Mj_Nabigha\ Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
} */

/* normalize */
* {
  direction: rtl;
  text-align: right;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: vazirmatn;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

span {
  font-size: 17px;
}
a {
  text-decoration: none;
  color: #000000e3;
}
a:hover {
  color: #2943d7;
}

/* ---------- */
/* Media  */
/* ---------- */

@media (max-width: 320px) {
  .navbar_top {
    display: none;
  }
}

@media (max-width: 537px) {
  .navbar_right_item {
    display: none;
  }
  .carousel-caption {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
  .billboard_img .billboard_text h1 {
    font-size: 35px !important;
  }
  .billboard_text span {
    font-size: 12px !important;
  }

  .billboard_img .billboard_text a {
    font-size: 10px;
    padding: 10px 20px !important;
  }
  footer #footer_top .input-group .form-control {
    height: 48px;
    margin-bottom: 15px;
  }
  footer #footer_top .input-group button {
    height: 48px;
  }

  .footer_vertical_list h5 {
    font-size: 14px !important;
  }
}

@media (max-width: 767px) {
  .carousel-caption h3 {
    font-size: 28px !important;
  }

  .nav_top_item #social_links,
  .nav_top_item_styles span {
    display: none;
  }
  .nav_top_item_styles {
    padding: 0 !important;
  }
  .nav_top_item_styles:nth-child(3) {
    padding: 5px 0 0 13px !important;
  }
  .logo {
    padding-left: 0 !important;
  }
  .navbar_mid_right_wrapper {
    padding: 0 !important;
  }
  .brand_style {
    display: none;
  }
}

@media (max-width: 887px) {
  .navbar_mid_right .nav-link,
  .navbar_mid_left .nav-link {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (max-width: 991px) {
  .categories_left,
  .categories_mid,
  .categories_right {
    margin: 12px 0;
  }
}

@media (max-width: 1125px) {
  .navbar_mid_left a {
    display: none !important;
  }
  .logo {
    padding-left: 0 !important;
  }

  .carousel-caption p,
  .carousel-caption span,
  .carousel-caption a {
    font-size: 15px !important;
  }
}

@media (max-width: 1155px) {
  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    display: none;
  }
}

/* ---------- */
/* Utility  */
/* ---------- */

.line_hover::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 4px;
  background-color: #000000e3;
  position: absolute;
  transition-duration: 0.3s;
  right: 5%;
}

.line_hover:hover:after {
  width: 60%;
}

.line_hover_active::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  border-radius: 4px;
  background-color: #000000e3;
  position: absolute;
  transition-duration: 0.3s;
}

.line_hover_active:hover::after {
  width: 100%;
}

/* ---------- */
/* navbar */
/* ---------- */

.navbar_top {
  height: 30px;
  width: 100%;
  background-color: #000000e3;
}

.nav_top_item > ul {
  display: inline-flex;
  padding-top: 6px;
  list-style: none;
  font-size: 10px;
  color: white;
  flex-direction: row;
}

.nav_top_item a:hover {
  color: #86b7fe;
}

.nav_top_item .dropdown button:hover {
  color: #86b7fe;
}

#social_links i:hover {
  color: #86b7fe !important;
}

.nav_top_item ul .btn {
  color: white;
  direction: ltr;
  font-size: 11px;
  padding: 4px 13px !important;
}

.navbar_top .dropdown li a {
  color: #000000e3;
}

.dropdown-toggle::after {
  vertical-align: 0 !important;
}

.nav_top_item ul i {
  padding: 9px 13px 0 8px;
}

.nav_top_item ul:nth-child(1) {
  padding-top: 0 !important;
}

.nav_top_item ul a {
  color: white;
}

.nav_top_item ul span {
  font-size: 15px !important;
}

/* ---------- */
/* navbar mid */
/* ---------- */

.logo {
  padding-left: 215px;
}

.logo > a {
  width: 120px;
}

.logo > a img {
  width: 100%;
}

.navbar_mid {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

.offcanvas-body,
.offcanvas-header {
  background-image: url("../assets/header2.jpg");
}

.navbar_mid_right .navbar_mid_item {
  position: relative;
}

.navbar_mid_right .nav-link {
  color: #000000e3;
  padding-bottom: 2px;
  font-size: 14px !important;
  font-family: vazirmatn;
}

.navbar_mid_right .nav-link:hover {
  color: royalblue;
}

.navbar_mid_left .nav-link {
  color: #000000e3;
  padding-bottom: 2px;
}

.navbar_mid_left .nav-link:hover {
  color: royalblue;
}

.navbar_mid_left .nav_icon {
  padding-left: 12px;
  padding-right: 12px;
}

.navbar_mid_item .navbar_right_item {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* ---------- */
/* Slider */
/* ---------- */

.carousel-item {
  height: calc(97vh - 20px);
  background: no-repeat center center scroll;
  background-size: cover !important;
  object-fit: cover !important;
}

#carousel_wrapper {
  position: relative;
  z-index: 1;
}

.carousel-indicators {
  justify-content: flex-end;
  bottom: 20px;
  flex-direction: column;
  width: min-content;
}

.carousel-indicators button {
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  margin: auto 15px !important;
}

.carousel-indicators .active {
  background-color: #000000e3 !important;
  transform: scale(1.3);
}

.carousel-indicators {
  margin-right: 3.5rem !important;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  justify-content: center;
}

.carousel-indicators button {
  margin: 0 !important;
}

.carousel-caption {
  top: 50%;
  z-index: 2;
  bottom: auto;
  transform: translateY(-50%);
  text-align: right;
}

.carousel-caption span {
  color: #000000e3;
  font-size: 17px;
  margin-bottom: 10px;
  display: block;
}

.carousel-caption span::before {
  content: "";
  width: 45px;
  height: 3px;
  background-color: #000000e3;
  display: inline-block;
  margin-left: 8px;
}

.carousel-caption h3 {
  font-family: lalezar;
  font-size: 50px;
  color: #000000e3;
}

.carousel-caption p {
  font-family: vazirmatn;
  color: #000000e3;
}

.carousel-caption a {
  display: inline-block;
  position: relative;
  font-family: vazirmatn;
  font-size: 20px;
  z-index: 3;
}

.carousel-caption a::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #000000e3;
  display: inline-block;
  margin-left: 8px;
}

.link_wrapper {
  padding: 10px 40px;
  position: relative;
  background-color: white;
  display: inline-block;
  border-radius: 2px;
  z-index: 4;
}

.carousel-caption .link_wrapper a {
  z-index: 5;
}

.scroll_info {
  font-size: medium;
  font-family: shubbak;
  z-index: 3;
  position: absolute;
  left: 15px;
  bottom: 80px;
  transform: rotate(-90deg);
  opacity: 0.8;
}

.scroll_info span::after {
  content: "";
  background-color: #000000e3;
  height: 3px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 1199.98px) {
  .scroll_info,
  .socials {
    display: none;
  }
}

/* ---------- */
/* Categories */
/* ---------- */

#categories {
  margin: 50px;
}

#categories .container {
  max-width: 1100px;
}

.category {
  height: 450px;
  position: relative;
  background-size: cover;
}

.categories_right,
.categories_mid,
.categories_left {
  position: relative;
}

.overlay_left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #86b7fe;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay_right {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #86b7fe;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.overlay_top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #86b7fe;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.categories_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.categories_left:hover .overlay_left {
  height: 100%;
}

.categories_right:hover .overlay_right {
  width: 100%;
  left: 0;
}

.categories_mid:hover .overlay_top {
  height: 100%;
  bottom: 0;
}

.categories_text > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.overlay_style p {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.banner_box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.banner_box h3 {
  font-family: lalezar;
  font-size: 35px;
  font-weight: bold;
}

.banner_box p {
  font-family: vazirmatn;
  font-size: 15px;
  font-weight: bold;
}

.banner_box p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #000000e3;
  position: relative;
}

/*--------*/
/* Best sellers */
/*-------*/

#Best_sellers .line_style {
  color: grey;
  position: relative;
}

#Best_sellers .line_style {
  color: grey;
}

#Best_sellers .line_style:hover {
  color: #000000e3;
}

#Best_sellers .line_style:focus {
  color: #000000e3;
}

#Best_sellers .line_style:focus::after {
  width: 60%;
}

#Best_sellers {
  margin-top: 50px;
}

#Best_sellers h3 {
  margin-bottom: 20px;
}

#Best_sellers .product_card {
  margin-bottom: 50px;
}

#Best_sellers .container {
  max-width: 1100px;
}

#Best_sellers .product_card .product_card_img_wrapper {
  height: 450px;
  position: relative;
}

#Best_sellers .product_card .product_card_img_wrapper:hover {
  transform: scale(1.02);
  border-radius: 15px;
  transition-duration: 0.5s;
}

@media (max-width: 575.98px) {
  #Best_sellers .product_card .product_card_img_wrapper {
    height: 500px;
  }
}

#Best_sellers .product_card .product_card_img_wrapper .product_card_img {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#Best_sellers .product_card .product_text_top,
#products .product_card .product_text_top a {
  color: grey;
  font-size: 14px;
}

#Best_sellers .product_card_price {
  font-size: 15px;
}

#Best_sellers .product_card_price_off del,
#products .product_card_price_off span {
  font-size: 15px;
}

#Best_sellers .product_card_price_off del {
  color: gray;
  margin-left: 5px;
}

#Best_sellers .product_card_price_off span {
  color: grey;
}

#Best_sellers .product_text h6 {
  font-family: vazirmatn;
  font-weight: 900;
}

#Best_sellers .product_text a {
  color: grey;
}

#Best_sellers .add_to_cart {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 0;
  background-color: #000000e3;
  position: absolute;
  bottom: 0;
  padding-left: 28px;
  transition: 0.5s ease;
}

#Best_sellers .add_to_cart span {
  font-family: vazirmatn;
  color: white;
}

#Best_sellers .add_to_cart span:hover {
  color: #86b7fe;
}

#Best_sellers .product_card:hover .add_to_cart {
  height: 30px;
  transition: 0.5s ease;
}

#Best_sellers .product_card .text_on_image {
  position: absolute;
  display: flex;
  padding-top: 20px;
  left: 0;
}

#Best_sellers .product_card .icon_on_image {
  position: absolute;
  display: flex;
  padding-top: 14px;
  padding-right: 10px;
  font-size: 20px;
}

#Best_sellers .owl-nav {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

#Best_sellers .owl-nav button.owl-prev {
  margin-right: -40px;
}

#Best_sellers .owl-nav button.owl-prev span {
  font-size: 35px;
}

#Best_sellers .owl-nav button.owl-next {
  margin-left: -40px;
}

#Best_sellers .owl-nav button.owl-next span {
  font-size: 35px;
}

.owl-nav button i {
  font-size: 30px;
  color: grey;
}

.owl-nav button i:hover {
  color: #000000e3;
}

@media (max-width: 700px) {
  #Best_sellers .owl-nav {
    display: none !important;
  }
}

#Best_sellers .my-custom-class-name {
  display: none;
}

/* ------- */
/* variety */
/* ------- */

#variety .container {
  max-width: 1100px;
}

#variety .variety_style {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#variety .col-12 p {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  font-family: vazirmatn;
  font-weight: 600;
}

/* ------- */
/* biilboard */
/* ------- */

.billboard_wrapper {
  width: 100%;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#billboard .billboard_wrapper .billboard_overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(149 0 0 / 69%);
  z-index: 2;
}

.billboard_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.billboard_img .billboard_text {
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.billboard_img .billboard_text h1 {
  font-size: 70px;
  font-family: lalezar;
}

.billboard_img .billboard_text a {
  padding: 10px 40px;
  background-color: white;
  display: inline-block;
  border-radius: 2px;
}

.billboard_img .billboard_text a::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #000000e3;
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 2px;
}

/* --------- */
/* Latest */
/* --------- */

#Latest .line_style {
  color: grey;
  position: relative;
}

#Latest .line_style {
  color: grey;
}

#Latest .line_style:hover {
  color: #000000e3;
}

#Latest .line_style:focus {
  color: #000000e3;
}

#Latest .line_style:focus::after {
  width: 60%;
}

#Latest {
  margin-top: 50px;
}

#Latest h3 {
  margin-bottom: 50px;
}

#Latest .product_card {
  margin-bottom: 25px;
}

#Latest .container {
  max-width: 1100px;
}

#Latest .product_card .product_card_img_wrapper {
  height: 450px;
  position: relative;
}

#Latest .product_card .product_card_img_wrapper:hover {
  transform: scale(1.02);
  border-radius: 15px;
  transition-duration: 0.5s;
}

@media (max-width: 575.98px) {
  #Latest .product_card .product_card_img_wrapper {
    height: 500px;
  }
}

#Latest .product_card .product_card_img_wrapper .product_card_img {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#Latest .product_card .product_text_top,
#products .product_card .product_text_top a {
  color: grey;
  font-size: 14px;
}

#Latest .product_card_price {
  font-size: 15px;
}

#Latest .product_card_price_off del,
#products .product_card_price_off span {
  font-size: 15px;
}

#Latest .product_card_price_off del {
  color: gray;
  margin-left: 5px;
}

#Latest .product_card_price_off span {
  color: grey;
}

#Latest .product_text h6 {
  font-family: vazirmatn;
  font-weight: 900;
}

#Latest .product_text a {
  color: grey;
}

#Latest .add_to_cart {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 0;
  background-color: #000000e3;
  position: absolute;
  bottom: 0;
  padding-left: 28px;
  transition: 0.5s ease;
}

#Latest .add_to_cart span {
  font-family: vazirmatn;
  color: white;
}

#Latest .add_to_cart span:hover {
  color: #86b7fe;
}

#Latest .product_card:hover .add_to_cart {
  height: 30px;
  transition: 0.5s ease;
}

#Latest .product_card .text_on_image {
  position: absolute;
  display: flex;
  padding-top: 20px;
  left: 0;
}

#Latest .product_card .icon_on_image {
  position: absolute;
  display: flex;
  padding-top: 14px;
  padding-right: 10px;
  font-size: 20px;
}

#Latest .owl-nav {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

#Latest .owl-nav button.owl-prev {
  margin-right: -40px;
}

#Latest .owl-nav button.owl-prev span {
  font-size: 35px;
}

#Latest .owl-nav button.owl-next {
  margin-left: -40px;
}

#Latest .owl-nav button.owl-next span {
  font-size: 35px;
}

.owl-nav button i {
  font-size: 30px;
  color: grey;
}

.owl-nav button i:hover {
  color: #000000e3;
}

@media (max-width: 700px) {
  #Latest .owl-nav {
    display: none !important;
  }
}

#Latest .my-custom-class-name {
  height: 4px !important;
  background-color: #2e26144a !important;
}

#Latest .my-custom-scroller-class-name {
  height: 4px !important;
  background-color: rgb(25 26 20 / 60%) !important;
}

/* ------- */
/* News  */
/* ------- */

#News .my-custom-class-name {
  display: none;
}

#News .container {
  max-width: 1100px;
}

#News #owl2 .card {
  height: 400px;
}

#News #owl2 .card-img-top {
  height: 300px;
  background-size: cover;
}

#News .card-text small {
  font-weight: 100 !important;
  font-family: "shubbak";
  font-size: 20px !important;
}

#News .card-text {
  font-family: "vazirmatn";
  font-weight: 300;
}

#News .card-text {
  font-size: 11px !important;
}

#News .owl-dots .owl-dot.active span {
  background-color: #000000e3 !important;
  transform: scale(1.3);
}

#News .owl-dots .owl-dot span {
  background-color: grey;
}

/* ------- */
/* Brands  */
/* ------- */

#Brands {
  margin: 50px 0;
}

#Brands .container {
  max-width: 1100px;
}

#Brands .brand_style {
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

/* ------- /
/ footer /
/ ----- */

footer {
  background-color: #000000e3;
  color: white;
}

footer #footer_top .text_items {
  left: 50%;
  width: 100%;
}

footer #footer_top .input-group {
  margin: 50px 0;
  padding-bottom: 10px;
}

footer #footer_top .input-group .form-control {
  color: white;
}

footer #footer_top .text_wrapper h3 {
  font-family: lalezar;
}

footer #footer_top .text_wrapper small {
  font-family: vazirmatn;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
  font-family: vazirmatn;
}

footer #footer_top .input-group .form-control:focus {
  box-shadow: none;
  border-color: #000;
}

footer #footer_top .input-group input {
  text-align: left;
  border: 0;
  border-radius: 0;
  font-size: 12px;
  background-color: #353535;
}

footer #footer_top .input-group button {
  font-family: vazirmatn;
  border-radius: 0;
  font-size: 15px;
  background-color: #5c5c5c;
  color: white;
}

footer #footer_top .input-group button:hover {
  color: #000000e3;
}

footer #footer_top .input-group .btn:active {
  color: #000;
  background-color: #000000e3;
}

input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

/* ------- */
/* footer mid */
/* ------- */

.about p,
footer .subscribe p {
  font-size: 17px;
}

#footer_mid {
  font-family: vazirmatn;
}

.footer_vertical_list h5 {
  font-weight: 900;
}

footer .about ul {
  list-style: none;
}

footer .about ul li {
  font-size: 17px;
  color: white;
}

footer .about ul li:nth-child(2) {
  direction: ltr;
}

footer .about i {
  font-size: 20px;
  color: white;
}

footer ul {
  list-style: none;
}

footer ul li {
  position: relative;
  padding: 8px;
}

footer ul li a {
  font-size: 11px;
  cursor: pointer;
  color: white;
}

/* ------- */
/* footer bot  */
/* ------- */

footer .footer_bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .footer_bottom .change_value {
  gap: 15px;
}

footer .footer_bottom .change_value span {
  font-size: 17px;
  margin-left: 7px;
  color: white;
}

footer .footer_bottom .change_value .dropdown-menu li {
  cursor: pointer !important;
}

footer .footer_bottom .change_value button {
  font-size: 17px !important;
  padding: 0 !important;
  border: 0 !important;
  color: white;
}

.dropup .dropdown-toggle::after {
  vertical-align: middle !important;
}
